@font-face {
    font-family: 'iconfont';  /* project id 1949486 */
    src: url('//at.alicdn.com/t/font_1949486_rfqqk0tzj4l.eot');
    src: url('//at.alicdn.com/t/font_1949486_rfqqk0tzj4l.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1949486_rfqqk0tzj4l.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1949486_rfqqk0tzj4l.woff') format('woff'),
    url('//at.alicdn.com/t/font_1949486_rfqqk0tzj4l.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1949486_rfqqk0tzj4l.svg#iconfont') format('svg');
  }
.iconfont{
font-family:"iconfont" !important;
font-size:16px;font-style:normal;
-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;
-moz-osx-font-smoothing: grayscale;}

.clear{ clear: both; }
svg.icon { width: 0.8rem; height: 0.8rem;}
header.bar svg.icon { width: 1rem; height: 1rem;}
span{text-transform: none} /* 取消大写属性 */
/* 留言板 */
.gbook_content{width: 100%; height: 5rem; border: 1px solid #EEE;}
.theme-dark  .gbook_content{background:#555}
/* 搜索部分  start*/
#head_searchbar div{ margin-top: 0.5rem;
padding:  0.1rem 0.3rem; background: #FFF; border: 1px #b4b4b4 solid;
border-radius: .15rem;  width: 100%;
font-size: .7rem;
font-weight: 400;
}
#head_searchbar .top_search_ico {

    padding: 0rem;    font-size: 0.7rem;
    line-height: 0.7rem;
}
#head_searchbar div span{
color: #555;
font-size: .7rem;
font-weight: 400;
}

.theme-dark #head_searchbar div {
background-color: dimgrey; color: floralwhite;
}
.theme-dark #head_searchbar div span{
    color: floralwhite;
}


#searchdivmain{border: solid #000 1px;}
#searchdiv{
    border-right:solid 1px #ccc
}
.theme-dark #searchdiv{
    border-right:solid 1px #000
}

.theme-dark textarea{background: #222; border: 1px solid #666;}
.searchlogo{width: 35%;}
#searchfrom{margin: 0.5rem;}
#searchfromdiv{
 background: #FFF; border: 1px #b4b4b4 solid;
    border-radius: .15rem;  width: 100%;
    font-size: 1rem;
    font-weight: 400;
}
#searchfrom #searchinput{
    float: left; width: 75%; background: none;
    height: 1.5rem; border: none; margin-left: 0.5rem;
    margin-top: 0.3rem; margin-bottom: 0.3rem;
}
.search_ico{ font-size: 1.2rem; float: right; margin-top: 0.1rem;margin-left: 0.5rem; margin-right: 0.5rem;color: #0894ec;}

.theme-dark   #searchfromdiv{    background-color: dimgrey; color: floralwhite;
}


.HengPing  .searchlogo{width: 20%;}
.HengPing   #page-search .content-block {margin: 0.5rem 0;}
.HengPing   #page-search .content-padded{margin-top:0;}
.HengPing   #page-search .content-block-title{ margin-top: 0.7rem;}
/* 搜索结果 */
#listpic{display: none;}
#listpic_html_li{display: none;} 
#listpic .item-media img{ width: 2rem; max-height: 4.5rem;}
.HengPing #listpic .item-media img{ width: 3.4rem; max-height: 6rem;}
#listpic .list-block .item-text { 
    font-size: .6rem;line-height: 0.8rem; height:4.2rem; max-height: 5rem;
 }
#listpic .daoyan,#listpic .yanyuan{
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

#listpic .jieshao{
    overflow:hidden; text-overflow:ellipsis;
}
#listpic .do{ font-size: 0.6rem;
}
/* 搜索部分  end*/
/* 分享字符框 */
.sharp_txt{
width: auto; border:olive solid 1px; margin-top: 0.5rem; padding: 0.5rem;
}
/* 二维码 防止黑夜模式黑边 */
.shap_qrcodediv{text-align: center; margin: 0.5rem;}
#shap_qrcode canvas{border:0.1rem solid #FFF;}

/* 播放窗*/
.diviframeForJs_wait{text-align: center; background: #222; color: #EEE; width: 100%; height: 4rem; line-height: 4rem; font-size: 0.8rem;}
#iframe_palyer{width:100%;margin:0;padding:0;background-color:#000;border:none}
#iframe_palyer{display:block; min-height: 10rem;}
.HengPing #iframe_palyer{min-height: 15rem;;display:table}
.HengPing .allPlayer{height:100%}
.player_tools{display:none}
.HengPing .allPlayer{height:calc(94vh)}
.HengPing .player_tools{display:block;height:1rem;font-size:.6rem;clear:both;text-align:right;background:#000;padding:.2rem 1rem}
.end_allPlayer{background:#000;font-size:.6rem;clear:both;text-align:center;padding:.2rem 1rem}
.end_allPlayer{display:none}
.HengPing .end_allPlayer{height:1rem}
#playlist .card .buttonmin{float:left;margin:.1rem .1rem;font-size:.7rem;height:.8rem;line-height:.8rem;padding:0 .2rem;border-radius:.1rem;text-overflow:"[..]";overflow:hidden}
#playlist .buttons-tab .buttonmin,.HengPing #playlist .buttons-tab .buttonmin{font-size:.8rem;height:1.2rem;line-height:1.2rem;border-radius:0;margin:0}
.theme-dark #playlist .buttons-tab{background:#222}
#downloadbutton,#copyAllDownUrl{max-width:10rem;margin:0 auto;margin-top:.3rem}
.popupplays .buttons-row{margin-top:.7rem}
.popupplays .content-block-title{margin-top:.7rem}
.popupplays .tabs .tab{padding-top:.2rem}
#vodShuoMing .card-content{ padding: 0.5rem;}
#vodShuoMing .row{ border-bottom:#555 1px solid}
#vodShuoMing .vodcontent{ font-size: 0.8rem;}

#vodShuoMing .row div{ font-size: 0.8rem;overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap}
#vodShuoMing .row  .col-80{text-align: right;}
#AllDownUrl{
width: 100%; background: rgba(255, 255, 255, 0.3); padding: 5px; max-height: 200px; overflow-y: auto; border: #666 1px solid;
margin-top: 0.6rem;
}
.tools .button{float: left; margin: 0.1rem;}

.updatethisvoding{text-align: center; font-size: 0.5rem; margin: 0.5rem; display: none;}
/* 右侧版权信息 */
.app_var{text-align: center;font-size: 0.5rem;}


/* 观看记录 */
.No_played{text-align: center;}
.bar-tab{padding-bottom: 3rem;}
.HengPing .bar-tab{ height:0; overflow: hidden;width: 0;}
.HengPing .bar-tab~.content {bottom: 0;}

/* 前进和后退按钮 */

.bar-tab .go_disable{
    color: #EEE;
}

.theme-dark .bar-tab .go_disable{
    color: #333;
}
/* 收藏夹 */
#list_fav{display: none;}
.addfav,.delfav{ font-size: 1rem;}
.delfav{display: none;}
.delfav .iconfont{color: red;}
/* 快捷登录 */

.randomPin{width: 100%; clear: both; margin-bottom: 1rem; margin-top: 1rem;}
.end_form_login_pin{margin-top: 1rem;}
